<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = "/result" method = "POST">
        <p>Choose your village:</p>
        <input type="radio" id="Kumo" name="village" value="https://i.imgur.com/zJy6KGs.png">
        <label for="Kumo">Kumo</label><br>
        <input type="radio" id="Konoha" name="village" value="https://i.imgur.com/b9x0ebS.png">
        <label for="Konoha">Konoha</label><br>
        <input type="radio" id="Suna" name="village" value="https://i.imgur.com/aiybo04.png">
        <label for="Suna">Suna</label><br>
        <input type="radio" id="Kiri" name="village" value="https://i.imgur.com/N4014cv.png">
        <label for="Kiri">Kiri</label><br>
        <input type="radio" id="Iwa" name="village" value="https://i.imgur.com/hvcozHB.png">
        <label for="Iwa">Iwa</label><br>
        <input type="radio" id="Unaffiliated" name="village" value="https://i.imgur.com/iVa5Toj.png">
        <label for="Unaffiliated">Unaffiliated</label><br>
        <p>Link to country symbol image <input type = "text" name = "country" /></p>
        <p>Character Name: <input type = "text" name = "playerName" /></p>
        <p>Clan name<input type = "text" name = "clan" /></p>
        <p>Gender <input type = "text" name = "gender" /></p>
        <p>Age <input type = "text" name = "age" /></p>
        <p>Date of Birth <input type = "text" name = "dob" /></p>
        <p>Skill Rank <input type = "text" name = "skill" /></p>
        <p>Shinobi Rank <input type = "text" name = "rank" /></p>
        <p>Link to Character Headshot Image <input type = "text" name = "playerHeadshot" /></p>
        <p>Teammate 1 160*100 image link <input type = "text" name = "teamAvatar1" /></p>
        <p>Teammate 1 Name <input type = "text" name = "teamName1" /></p>
        <p>Teammate 2 160*100 image link <input type = "text" name = "teamAvatar2" /></p>
        <p>Teammate 2 Name <input type = "text" name = "teamName2" /></p>
        <p>Teammate 3 160*100 image link <input type = "text" name = "teamAvatar3" /></p>
        <p>Teammate 3 Name <input type = "text" name = "teamName3" /></p>
        <p>Specializations. Recommended to use full HTML to link to icons from saga. EX: &lt;img src='urlhere'&gt; <input type = "text" name = "specializations" /></p>
        <p>Elements:  Recommended to use full HTML to link to icons from saga. EX: &lt;img src='urlhere'&gt; <input type = "text" name = "elements" /></p>
        <p>Traits: <input type = "text" name = "traits" /></p>
        <p>Taijutsu score out of 10 <input type = "text" name = "tai" /></p>
        <p>Ninjutsu score out of 10 <input type = "text" name = "nin" /></p>
        <p>Tools score out of 10<input type = "text" name = "tools" /></p>
        <p>Bloodline (Kekkei Genkai) score out of 10<input type = "text" name = "blood" /></p>
        <p>Genjutsu score out of 10 <input type = "text" name = "gen" /></p>
        <p>Speed score out of 10 <input type = "text" name = "speed" /></p>
        <p>Energy score out of 10<input type = "text" name = "energy" /></p>
        <p>Power score out of 10 <input type = "text" name = "power" /></p>
        <p>IQ (Intellect) score out of 10 <input type = "text" name = "iq" /></p>
        <p>Completed S-rank Missions: <input type = "text" name = "missionS" /></p>
        <p>Completed A-rank Missions: <input type = "text" name = "missionA" /></p>
        <p>Completed B-rank Missions: <input type = "text" name = "missionB" /></p>
        <p>Completed C-rank Missions: <input type = "text" name = "missionC" /></p>
        <p>Completed D-rank Missions: <input type = "text" name = "missionD" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
</body>
</html>