<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = "/result" method = "POST">
        <p>village <input type = "text" name = "village" /></p>
        <p>country <input type = "text" name = "country" /></p>
        <p>playerName <input type = "text" name = "playerName" /></p>
        <p>clan <input type = "text" name = "clan" /></p>
        <p>gender <input type = "text" name = "gender" /></p>
        <p>age <input type = "text" name = "age" /></p>
        <p>dob <input type = "text" name = "dob" /></p>
        <p>skill <input type = "text" name = "skill" /></p>
        <p>rank <input type = "text" name = "rank" /></p>
        <p>playerHeadshot <input type = "text" name = "playerHeadshot" /></p>
        <p>teamAvatar1 <input type = "text" name = "teamAvatar1" /></p>
        <p>teamName1 <input type = "text" name = "teamName1" /></p>
        <p>teamAvatar2 <input type = "text" name = "teamAvatar2" /></p>
        <p>teamName2 <input type = "text" name = "teamName2" /></p>
        <p>teamAvatar3 <input type = "text" name = "teamAvatar3" /></p>
        <p>teamName3 <input type = "text" name = "teamName3" /></p>
        <p>specializations <input type = "text" name = "specializations" /></p>
        <p>elements <input type = "text" name = "elements" /></p>
        <p>traits <input type = "text" name = "traits" /></p>
        <p>tai <input type = "text" name = "tai" /></p>
        <p>nin <input type = "text" name = "nin" /></p>
        <p>tools <input type = "text" name = "tools" /></p>
        <p>blood <input type = "text" name = "blood" /></p>
        <p>gen <input type = "text" name = "gen" /></p>
        <p>speed <input type = "text" name = "speed" /></p>
        <p>energy <input type = "text" name = "energy" /></p>
        <p>power <input type = "text" name = "power" /></p>
        <p>iq <input type = "text" name = "iq" /></p>
        <p>missionS <input type = "text" name = "missionS" /></p>
        <p>missionA <input type = "text" name = "missionA" /></p>
        <p>missionB <input type = "text" name = "missionB" /></p>
        <p>missionC <input type = "text" name = "missionC" /></p>
        <p>missionD <input type = "text" name = "missionD" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
</body>
</html>